{% extends 'base.html' %} {% block title %} Products {% endblock title %} {%
block body %}
<div class="container my-3">
  <h2>Create Customers</h2>
  <form action="/create_customer" , method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        aria-describedby=""
        required
      />
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="Phone_number" class="form-label">Phone Number</label>
      <input
        type="number"
        class="form-control"
        name="phone_number"
        min="1000000000"
        max="9999999999"
        id="Phone_number"
        required
      />
    </div>
    <div class="mb-3">
      <label for="Address" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        name="address"
        id="Address"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/" class="my-3 btn btn-primary">Back Home</a>
</div>

{% endblock body %}
