{% extends 'base.html' %} {% block title %} Home{% endblock title %} {% block
body %}

<div>
  <h1 class="display-1 mb-3 my-3 row justify-content-center">E-Commerce.com</h1>
  <div class="container col d-flex justify-content-center">
    <div class="card" style="width: 45rem">
      <h5 class="card-header row justify-content-center">New User?</h5>
      <div class="card-body row justify-content-center">
        <h5 class="card-title row justify-content-center">
          Become Customer Now
        </h5>
        <p class="card-text font-weight-bold row justify-content-center">
          Click to register!
        </p>
        <a href="/create_customer" class="btn btn-primary">Create User</a>
      </div>
    </div>
  </div>
  <div class="container mb-3 my-3 col d-flex justify-content-center">
    <div class="card" style="width: 45rem">
      <h5 class="card-header row justify-content-center">View Producs</h5>
      <div class="card-body row justify-content-center">
        <h5 class="card-title row justify-content-center">
          Shop and Order from our Website!
        </h5>
        <p class="card-text font-weight-bold row justify-content-center">
          With great prices and discounts so hurry up!
        </p>
        <a href="/products" class="btn btn-primary">Products</a>
      </div>
    </div>
  </div>
  <div class="container mb-3 my-3 col col d-flex justify-content-center">
    <div class="card" style="width: 45rem">
      <h5 class="card-header row justify-content-center">Update Status?</h5>
      <div class="card-body row justify-content-center">
        <h5 class="card-title row justify-content-center">
          Update your status here
        </h5>
        <p class="card-text font-weight-bold row justify-content-center">
          Find out the status of your product
        </p>
        <a href="/updateStatus" class="btn btn-primary">Update Status</a>
      </div>
    </div>
  </div>
  <div class="container mb-3 my-3 col col d-flex justify-content-center">
    <div class="card" style="width: 45rem">
      <h5 class="card-header row justify-content-center">Get Orders?</h5>
      <div class="card-body row justify-content-center">
        <h5 class="card-title row justify-content-center">
          Find your order details here
        </h5>
        <p class="card-text font-weight-bold row justify-content-center">
          All your orders at one place
        </p>
        <a href="/get_orders" class="btn btn-primary">Get Orders</a>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
