{% extends 'base.html' %} {% block title %} Products {% endblock title %} {%
block body %}
<div class="container my-3">
  <h2>Order</h2>
  <form action="/order" , method="POST">
    <label for="product">Choose your product:</label>
    <select id="product" name="item_name">
      <option value="Tooth Brush">Tooth Brush</option>
      <option value="Eraser">Eraser</option>
      <option value="Shampoo">Shampoo</option>
      <option value="Pencil">Pencil</option>
    </select>
    <div class="mb-3 my-3">
      <!-- <label for="item_name" class="form-label">Item Name</label>
      <input
        type="text"
        class="form-control"
        name="item_name"
        id="item_name"
        aria-describedby=""
        required
      /> -->
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="Phone_number" class="form-label">Phone Number</label>
      <input
        type="number"
        class="form-control"
        name="phone_number"
        min="1000000000"
        max="9999999999"
        id="Phone_number"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/" class="my-3 btn btn-primary">Back Home</a>
</div>

{% endblock body %}
